# The experiments outputs
out

# The IDEA project forlder
.idea

# The MacOS specific
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The vendor folder
vendor

# The Jupyter checkpoint
**/.ipynb_checkpoints